<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkifi</title>
    <link rel="stylesheet" href="{% static 'css/css42.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&family=Delicious+Handrawn&display=swap" rel="stylesheet">


</head>
<style>
    body {
        width: 100%;
        background-image: linear-gradient(to right, #eff1ff, #ffcffc);
    }
    
    .khani90 #popcart {
        background-color: white;
        color: black;
        border: none;
        font-size: 23px;
    }
    
    #popup {
        width: 28%;
        text-align: center;
        position: relative;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-left: 37%;
        margin-top: 10px;
        background-color: white;
        border-radius: 20px;
        top: -125%;
    }
    
    #popup img {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        margin-left: 155px;
        margin-top: -50px;
    }
    
    #popup h1 {
        color: black;
        font-size: 30px;
        font-weight: 600;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 40px;
    }
    
    #popup h5 {
        color: black;
        font-size: 15px;
        font-weight: 500;
        font-family: cursive;
        padding: 30px;
        padding-top: 20px;
    }
    
    #popup button {
        margin-top: 10px;
        width: 100%;
        padding: 10px 0px;
        outline: none;
        border: none;
        border-radius: 10px;
        background-color: rgb(0, 255, 0);
        color: white;
        font-size: 20px;
        font-weight: 900;
        font-family: cursive;
        cursor: pointer;
        width: 50%;
        margin-left: 93px;
        margin-bottom: 30px;
    }
</style>


<body>



    <nav class="navbar navbar-expand-lg home bg-body-white fixed-top">
        <div class="container-fluid" id="home2-page">
            <a class="navbar-brand home3-page" href="/"><img src="/static/images/11.png" width="100px" height="90px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-navicon"></i></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 home4-page">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'Feature' %}">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'pricing' %}">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'About' %}">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'contact' %}">Contact Us</a>
                    </li>

                </ul>
                <div class="text-end home5-page">
                    <a href="{% url 'login' %}"><button type="button" class="btn home6-page">Log in</button></a>
                    <a href="{% url 'signup' %}"><button type="button" class="btn home7-page">Sign-up</button></a>
                </div>
            </div>
        </div>
    </nav>


    <div id="contact-page">
        <h1>Contact Us</h1>
        <div class="contact4-page">
            <div class="contact1-page">
                <h3>GET IN TOUCH</h3>
                <h2>Convey Your <br>
                    <spam> Ideas To Us</spam>
                </h2>
                <p>Contact Us for questions, technical <br> assistance, or collaboration opportunities <br> via the contact information provided.
                </p>
                <div class="contact2-page">
                    <i class="fa fa-phone"></i>
                    <h3>+123-456-789</h3>
                </div>
                <div class="contact2-page">
                    <i class="fa fa-envelope"></i>
                    <h3>hello@realygreatsite.com</h3>
                </div>
                <div class="contact2-page">
                    <i class="fa fa-map-marker"></i>
                    <h3>123 Anywhere ST,Any City, 12345</h3>
                </div>

            </div>
            <div class="contact3-page">
                <form action="{% url 'contact' %}" method="post" onclick="return formvalidation()">
                    {% csrf_token %}
                    <h1>Name</h1>
                    <input type="text" id="name" name="name" placeholder="Enter your Name">
                    <h1>Email</h1>
                    <input type="email" id="email" name="email" placeholder="Enter your Email">
                    <h1>Message</h1>
                    <textarea type="textarea" cols="40" rows="10" name="textarea" id="textarea" placeholder="Enter Your Text"></textarea>
                    <button type="submit" value="submit" id="submit" onclick="openPopup()">Submit Now</button>
                    <span id="khanmuhammad"></span>
                </form>

            </div>
        </div>
    </div>

    {% if messages %}
    <div class="{{ message.tags }} " class="home1" id="popup" role="alert">
        {% for message in messages %}
        <img src="/static/images/12.PNG" class="awaiskhan3">
        <h1 class="awaiskhan1">{{ message }}</h1>
        <h5 class="awaiskhan2">You details has been successfully<br> submitted. Thanks! </h5>
        <button type="button" id="okButton" onclick="closePopup()">OK</button> {% endfor %}
    </div>
    {% endif %}

    <div id="contact5-page">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14159960.757207863!2d58.34982968079076!3d29.95005532620245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38db52d2f8fd751f%3A0x46b7a1f7e614925c!2sPakistan!5e0!3m2!1sen!2s!4v1726125310907!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div id="tec36-page" class="section-p3">
        <h1>Got questions?</h1>

        <div class="tec37-page">
            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>Why do I need a link in bio tool?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page" id="Alikhan3" style="display: none;">
                    <h5>Right now, every time you’ve got something new to share, you have to go to every single one of your channels to change the link in each of your bios. It’s time-consuming and complicated – making it so much harder to keep everything
                        up to date.</h5>
                    <h5>A link in bio tool means you never have to compromise, or remove one link from your bio so you can add another. You can keep everything you want to share online in one link. When you’ve got a change, you only ever have to make it once.</h5>
                </div>
            </div>

            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>Is Linkifi the original link in bio tool?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page" id="Alikhan3" style="display: none;">
                    <h5>The short answer? Yes!</h5>
                    <h5>Back in 2016, we created Linkifi as an easy way to link out to all socials and unify digital ecosystems, pioneering the link-in-bio category. Linkifi remains the leading, biggest and most popular link-in-bio solution – but that’s just
                        the beginning. You can use your Linkifi URL or QR code anywhere your audience is, including on your business cards, in your email signature, on paper-based posters and brochures, and even on your resumé. If you don’t have a website,
                        that’s fine. If you have a Linkifi, you don’t need one!</h5>
                </div>
            </div>

            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>Can you get paid and sell things from a Linkifi?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page toggle-icon" id="Alikhan3" style="display: none;">
                    <h5>Yes, you can! We offer plenty of ways to sell products and monetize your audience. You can collect tips, request payments for services, collect revenue from affiliate links, and sell your products right in your Linkifi.</h5>
                    <h5>A lot of Linkifi creators see incredible results with online sales on Linkifi, because it removes the extra steps involved in a purchase. With Paypal or Square right in your Linkifi, your customers won’t even need to leave your social
                        media to go to another site and pay!</h5>
                    <h5>“We love how Linkifi has helped us manage our business by having all social media and ways to pay in one location. The QR code has made it easy for customers to access it all!” – Tiffany</h5>
                </div>

            </div>

            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>Is Linkifi safe to use on all of my social media profiles?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page" id="Alikhan3" style="display: none;">
                    <h5>Linkifi is trusted by all social platforms, and is even used on many of Facebook, Instagram and TikTok’s own social media accounts! Because Linkifi is the original and most popular link-in-bio tool, the linktr.ee URL is a trusted,
                        identifiable and familiar link that audiences feel comfy and safe clicking on.</h5>
                </div>
            </div>

            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>What makes Linkifi better than the other link in bio options?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page" id="Alikhan3" style="display: none;">
                    <h5>We have our own opinions here, of course, but the stories of the people who use Linkifi matter more. Let’s hear what they have to say:</h5>
                    <h5>We have our own opinions here, of course, but the stories of the people who use Linkifi matter more. Let’s hear what they have to say:</h5>
                    <h5>”It’s so much easier to set up and have all of your links in one place in a well designed format.” – Catie T</h5>
                    <h5>”Websites are cool (I have one) but Linkifis just make it so much easier.” – Tan Nguyen</h5>
                    <h5>“I love their analytics. Other link-in-bio companies don’t provide extensive data on what’s going on.” – Riley Lemon</h5>
                    <h5>Linkifi invented the bio link tool in 2016, and it continues to be the world’s most popular bio link to this day – with 50M+ people using it as their trusted place to share, sell and grow online. Join them on Linkifi today and see
                        for yourself!</h5>
                </div>
            </div>

            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>Do I need a website to use Linkifi?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page" id="Alikhan3" style="display: none;">
                    <h5>No, you don’t! Linkifi can act as your very own mini-website to share, sell and grow without any of the time and effort it takes to build and maintain a regular website. You can create a design that fully reflects your personality
                        and brand in seconds, with no knowledge, skills or experience needed. If you already have a website, that’s great: you can add it to your Linkifi.
                    </h5>
                </div>
            </div>

            <div class="tec41-page">
                <div class="tec39-page">
                    <h5>Where can I download the app?</h5>
                    <i class="fa fa-plus toggle-icon" id="Alikhan"></i>
                    <i class="fa fa-minus toggle-icon" id="Alikhan1" style="display: none;"></i>
                </div>
                <div class="tec40-page" id="Alikhan3" style="display: none;">
                    <h5>Find it in the App Store, and in the Google Play store!
                    </h5>
                </div>
            </div>



        </div>
    </div>


    <div id="home37-page">
        <h1>Jumpstart your corner of the <br> internet today</h1>
        <div class="home38-page">
            <input type="text" placeholder="Linkifi.ai/Yourname">
            <a href="{% url 'login' %}"><button>claim your Linkifi</button></a>
        </div>
    </div>

    <div id="home39-page">
        <div class="home42-page">
            <div class="home40-page">
                <img src="/static/images/11.png">
                <p>Stay in the loop and Sign Up for the <br> Linkifi newsletter.</p>
                <div class="search41">
                    <form>
                        <input type="email" name="email" id="email" placeholder="Enter your Email">
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="home40-page">
                <h1>Company</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="{%url 'Feature' %}">Features</a></li>
                    <li><a href="{%url 'pricing' %}">Pricing</a></li>
                    <li><a href="{%url 'contact' %}">Contact Us</a></li>
                    <li><a href="{% url 'About' %}">About Us</a></li>
                </ul>
            </div>
            <div class="home40-page">
                <h1>Documentation
                </h1>
                <ul>
                    <li><a href="{%url 'helpcenter' %}">Help Center</a></li>
                    <li><a href="{%url 'contact' %}">Contact</a></li>
                    <li><a href="{%url 'login' %}">Linkifi Pro</a></li>
                    <li><a href="{%url 'Feature' %}">Features</a></li>
                    <li><a href="{%url 'faqs' %}">FAQs</a></li>
                    <li><a href="{%url 'privacy' %}">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="home40-page">
                <h1>Social
                </h1>
                <ul>
                    <li><a href="https://www.facebook.com/">Facebook</a></li>
                    <li><a href="https://www.instagram.com/">Instagram</a></li>
                    <li><a href="https://www.youtube.com/">YouTube</a></li>
                    <li><a href="https://x.com/?lang=en">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div id="home43-page">

        <div class="home46-page">

            <div class="home44-page">
                <a href="{% url 'login' %}"><button class="home47-page">Log in</button></a>
                <a href="{% url 'login' %}"><button class="home48-page">Get started for free</button></a>
            </div>
            <div class="home45-page">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-youtube-play"></i>
                <i class="	fa fa-google"></i>
            </div>
        </div>
    </div>


    <div id="home49-page">
        <div class="home50-page">
            <h1>Linkifi</h1>
        </div>
    </div>

    <div id="home51-page">
        <div class="home52-page">
            <img src="/static/images/1111.webp">
            <img src="/static/images/2222.webp">
        </div>
        <p>We acknowledge the Traditional Custodians of the land on which our office stands, The Wurundjeri people of the Kulin Nation, and pay our respects <br> to Elders past, present and emerging. Linkifi Pty Ltd (ABN 68 608 721 562), 1-9 Sackville st,
            Collingwood VIC 3066</p>
    </div>










    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
    </script>

    <script>
        // Select all elements with the toggle-icon class
        const toggleIcons = document.querySelectorAll('.toggle-icon');

        toggleIcons.forEach(icon => {
            icon.addEventListener('click', () => {
                // Get the parent element of the icon
                const parent = icon.parentElement;

                // Find the associated elements within the parent element
                const content = parent.nextElementSibling;
                const minusIcon = parent.querySelector('.fa-minus');
                const plusIcon = parent.querySelector('.fa-plus');

                // Toggle the visibility of the content and icons
                if (content.style.display === "none" || content.style.display === "") {
                    content.style.display = "block";
                    minusIcon.style.display = "inline";
                    plusIcon.style.display = "none";
                } else {
                    content.style.display = "none";
                    minusIcon.style.display = "none";
                    plusIcon.style.display = "inline";
                }
            });
        });
    </script>




    <script>
        // Select all the <p> elements with class 'home10'
        const items = document.querySelectorAll("#home17-page .home10");
        let index = 0;

        // Function to hide all <p> elements and show only the current one
        function showItem() {
            items.forEach((item, i) => {
                // Hide all items
                item.style.display = "none";
            });
            // Show the current item
            items[index].style.display = "block";

            // Move to the next item, reset index if at the end
            index = (index + 1) % items.length;
        }

        // Initialize the first item to be shown
        showItem();

        // Cycle through the items every 1 second (1000 milliseconds)
        setInterval(showItem, 1000);
    </script>


    <script>
        let popup = document.getElementById("popup");


        function openPopup() {
            popup.classList.add("open-popup");
            console.log(popup)
        }

        function closePopup() {
            popup.classList.remove("open-popup");
        }
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var okButton = document.getElementById("okButton");
            var popup = document.getElementById("popup");

            if (okButton && popup) {
                okButton.addEventListener("click", function() {
                    popup.style.display = "none"; // Hide the popup
                });
            }
        });
    </script>







</body>

</html>